* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrCode-component {
    width: 280px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

.qrCode {
    width: 250px;
    border-radius: 15px;
}

.purpose {
    font-size: 20px;
    color: hsl(216, 64%, 28%);
    font-weight: bold;
    width: 220px;
    margin: auto;
    padding-top: 19px;
}

.instruction {
    font-size: 14px;
    width: 200px;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 22px;
    color: hsl(212, 54%, 66%);
}